<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Friend Lender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A3D41471C3B261100EC57B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3D41631C3B261100EC57B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3D416E1C3B261100EC57B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
