<ion-view view-title="{{user}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-log-out" ng-controller="LogoutCtrl" ng-click="logout()"></button>
  </ion-nav-buttons>

  <ion-content class="padding" ng-controller="TransactionsCtrl">
    <div class="text-center">
      <h3>Lend Money</h3>
      <div class='text-muted'>enter recipient's info</div>
    </div>

    <div class="row">
      <div class="col">
        <div class="text-center">
          <button class="button button-block button-outline button-positive" ng-click="modal.show();getContactList()">Browse Contacts</button>
        </div>
      </div>
    </div>

    <form name="myForm" ng-submit="createTransaction(transaction)" novalidate>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" name="firstname" placeholder="First Name" ng-model="transaction.firstname" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" name="lastname" placeholder="Last Name" ng-model="transaction.lastname" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <div style="margin-right: 5px;">
              +1
            </div>
            <input type="text" name="phone" placeholder="Phone Number" ng-model="transaction.phone" ng-minlength="10" ng-maxlength="10" pattern="[0-9]*" required />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" required name="email" placeholder="Email Address" ng-model="transaction.email" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input">
            <i class="icon ion-social-usd" style="margin-right: 5px;"></i>
            <input type="number" name="amount" placeholder="Amount" ng-model="transaction.amount" pattern="[0-9]*" inputmode="numeric" required>
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="tel" name="terms" placeholder="Interest" ng-model="transaction.terms" pattern="100|[1-9][0-9]?" inputmode="numeric">
            <div style="margin-right: 10px;">
              <strong>%</strong>
            </div>
          </label>
        </div>
      </div>
      <div class="text-danger text-center">
        <p ng-show="myForm.firstname.$error.required && myForm.firstname.$touched">Please enter a first name</p>
        <p ng-show="myForm.lastname.$error.required && myForm.lastname.$touched">Please enter a last name</p>
        <p ng-show="myForm.phone.$error.minlength && myForm.phone.$touched">Please enter a 10-digit phone number (with area code)</p>
        <p ng-show="myForm.phone.$error.maxlength && myForm.phone.$touched">Please enter a 10-digit phone number (with area code)</p>
        <p ng-show="myForm.amount.$error.required && myForm.amount.$touched">Please enter a dollar amount to lend</p>
        <p ng-show="myForm.terms.$error.maxlength && myForm.amount.$touched">Please enter a number between 1-100</p>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" type="submit" ng-disabled="myForm.$invalid">
            Send Lending Request
          </button>
        </div>
      </div>
    </form>
  </ion-content>

  <hr />

  <!-- <div ng-include src="templates/contacts_modal.html" type="text/ng-template"></div> -->

</ion-view>
