<ion-view view-title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <form name="myForm" ng-submit="createTransaction(transaction)" novalidate>
      <div class="text-center">
        <h3>Lend Money</h3>
        <div class='text-muted'>enter recipient's info</div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            {{populateContact}}
            <input type="text" name="firstname" placeholder="First Name" ng-model="transaction.firstname" ng-init="transaction.firstname={{populateContact}}" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" name="lastname" placeholder="Last Name" ng-model="transaction.lastname" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <div style="margin-right: 5px;">
              +1
            </div>
            <input type="text" name="phone" placeholder="Phone Number" ng-model="transaction.phone" ng-minlength="10" ng-maxlength="10" required />
          </label>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" required name="email" placeholder="Email Address" ng-model="transaction.email" />
          </label>
        </div>
      </div>
      -->
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <i class="icon ion-social-usd" style="margin-right: 5px;"></i>
            <input type="number" name="amount" placeholder="Amount" ng-model="transaction.amount" pattern="[0-9]*" inputmode="numeric" required>
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number" name="terms" placeholder="Interest" ng-model="transaction.terms" pattern="^[0-9][0-9]?$|^100$" inputmode="numeric">
            <div style="margin-right: 10px;">
              <strong>%</strong>
            </div>
          </label>
        </div>
      </div>
      <div class="text-danger text-center">
        <p ng-show="myForm.firstname.$error.required && myForm.firstname.$touched">Please enter a first name</p>
        <p ng-show="myForm.lastname.$error.required && myForm.lastname.$touched">Please enter a last name</p>
        <p ng-show="myForm.phone.$error.minlength && myForm.phone.$touched">Please enter a 10-digit phone number (with area code)</p>
        <p ng-show="myForm.phone.$error.maxlength && myForm.phone.$touched">Please enter a 10-digit phone number (with area code)</p>
        <p ng-show="myForm.amount.$error.required && myForm.amount.$touched">Please enter a dollar amount to lend</p>
        <p ng-show="myForm.terms.$error.maxlength && myForm.amount.$touched">Please enter a number between 1-100</p>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" type="submit" ng-disabled="myForm.$invalid">
            Send Lending Request
          </button>
        </div>
      </div>

      <hr />

<!--
      <div class="padding">
        <ion-list>
          <button class="button button-block button-royal" ng-click="getContactList()">Load Contacts</button>
          <ion-item ng-repeat="contact in contacts" ng-if="contact.phoneNumbers" ng-click="selectContact(contact)">
            {{contact.name.formatted}}
            <span class="item-note">
              {{contact.phoneNumbers[0].value}}
            </span>
          </ion-item>
        </ion-list>
      </div>
-->
    </form>

  </ion-content>

</ion-view>
